vti_encoding:SR|utf8-nl
vti_author:SR|LAPTOP-RVCQLHS2\\barbara
vti_modifiedby:SR|LAPTOP-RVCQLHS2\\barbara
vti_timelastmodified:TR|08 Mar 2019 17:02:51 -0000
vti_timecreated:TR|08 Mar 2019 17:02:51 -0000
vti_cacheddtm:TX|08 Mar 2019 17:02:51 -0000
vti_filesize:IR|2131
vti_cachedlinkinfo:VX|Q|layout.css S|../images/background.gif S|../images/masthead.gif
vti_cachedsvcrellinks:VX|FQUS|styles/layout.css FSUS|images/background.gif FSUS|images/masthead.gif
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|programmes_gallery/default.html index.html.html master.dwt fun\\ facts/default.html about/default.html contact/default.html
